[submodule "3rdparty/elawidgettools"]
	path = 3rdparty/elawidgettools
	url = https://github.com/Liniyous/ElaWidgetTools.git
[submodule "3rdparty/SDL3"]
	path = 3rdparty/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/SDL3_ttf"]
	path = 3rdparty/SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
